.App {
  padding: 1.5rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 700px) {
  .App {
    padding: 1.5rem 25% 1.5rem 25%;
    margin-top: 1.5rem;
  }
}

.todo-container2{
  padding: 10%;
  background-image: linear-gradient(to right, #acc9ff, #b2cbee);
  border-radius: 30px;
}

.todo-container{
  padding: 1.5rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 700px) {
  .todo-container {
    padding: 1.5rem 25% 1.5rem 25%;
    margin-top: 1.5rem;
  }
}

label{
  /* color: aliceblue; */
}

body{
   /* background-color: rgba(19, 8, 41, 0.944); */
   background-image: linear-gradient(to right, #8383be, #50a7d9);
}

.container-fluid{
  padding: 0;
}

.c-dark{
  /* background-color: rgb(30, 55, 85); */
  /* color: white; */
}

.grid-container {
  display: grid;
  gap: 15px;
}

.input-data-contaner {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}



input[type=date] {
  position: relative;
  text-indent: 15px;
}

input[type=date]:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f073";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.passbook-element{
  display: flex;
  gap: 40px;
  padding: 10%;
  background-image: linear-gradient(to right, #acc9ff, #b2cbee);
  border-radius: 30px; 
}


img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

@media screen and (min-width: 700px) {
  img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

ul{
  padding: 0px;
}


.contact-data{
  display: grid;
}


@media screen and (min-width: 700px) {
  .contact-data{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
  }
}